@font-face {
    font-family: "Lato";
    src: local('Lato Regular'), local('Lato-Regular'), url('../fonts/lato/latoregular.woff2') format('woff2'), url('../fonts/lato/latoregular.woff') format('woff'), url('../fonts/lato/latoregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

:root {
  --font-lato: "Lato", sans-serif;
  --font-nunito: "Nunito Sans", sans-serif;

  --gradient: linear-gradient(90deg, #ff323f 0%, #ff37e4 100%);
  --light: #ffffff;
  --light-gray: #e9e9e9;
  --gray: #4e4e4e;
  --line: #aeaeae;
  --dark: #0e0e0e;
}

body {
  font-family: var(--font-lato);
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  color: var(--light);
  background-image: url(../images/bg-main.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 120px;
}

.container {
  width: 100%;
  max-width: 1630px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 16px 15px 25px;
  box-sizing: border-box;
  background-color: var(--light);
  border-radius: 16px;
  margin: 0 auto 106px;
}

.logo {
  display: block;
  width: 105px;
  height: 30px;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.nav {
  display: flex;
  gap: 40px;
  font-size: 14px;
  color: #333;
}

.btn-accent {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 16px 18px;
  font-family: var(--font-nunito);
  font-weight: 900;
  background: var(--gradient);
  border-radius: 10px;
  color: var(--light);
  width: fit-content;
}

.btn-accent::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-image: url(../images/btn-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.badge {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 10px 15px;
  border: 1px solid var(--light);
  border-radius: 8px;
  font-family: var(--font-nunito);
  font-size: 12px;
  width: fit-content;
  margin-bottom: 28px;
}

.light .badge {
  border-color: var(--line);
}

.badge::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-image: url(../images/icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.title-h1 {
  font-family: var(--font-nunito);
  font-size: 75px;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0;
}

.description {
  color: var(--light-gray);
  line-height: 1.6;
}

.light .description {
  color: var(--gray);
}

.text-small {
  font-family: var(--font-nunito);
  font-size: 12px;
  color: var(--light-gray);
  margin: 0;
}

.title-h2 {
  font-family: var(--font-nunito);
  font-size: 48px;
  font-weight: 700;
  line-height: 1.25;
  color: var(--dark);
  margin-top: 0;
  margin-bottom: 10px;
}

.title-h4 {
  font-family: var(--font-nunito);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.5;
  margin-top: 29px;
  margin-bottom: 6px;
}

/* Hero */

.section-hero {
    margin-bottom: 103px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.description-hero {
 max-width: 556px;
 margin-bottom: 34px;
 margin-top: 0px;
}

.brands {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 26px 55px;
  margin-top: 98px;
}

.brands .text-small {
  flex-basis: 100%;
}

/* Screen */

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.screen .badge {
  color: var(--light-gray);
  border: 1px solid var(--light-gray);
  padding: 10px 12px;
  margin-bottom: 20px;
}

.description-screen {
 max-width: 564px;
 text-align: center;
 margin-top: 0;
 margin-bottom: 54px;
}

.image-screen {
  width: 100%;
  max-width: 1496px;
}

/* Advantages */

.section-advantages {
  padding-top: 120px;
  padding-bottom: 120px;
}

.advantages {
  display: flex;
  gap: 133px;
}

.advantages-text .badge {
  padding: 11px 34px 8px 12px;
  gap: 27px;
  margin-top: 11px;
  margin-bottom: 20px;
}

.description-advantages {
  margin-top: 11px;
}

.advantages-item {
  display: flex;
  gap: 45px;
}

.advantages-list-text .description {
  margin-top: 0;
  margin-bottom: 6px;
}