@font-face {
    font-family: "Lato";
    src: local('Lato Regular'), local('Lato-Regular'), url('../fonts/lato/latoregular.woff2') format('woff2'), url('../fonts/lato/latoregular.woff') format('woff'), url('../fonts/lato/latoregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

:root {
  --font-lato: "Lato", sans-serif;
  --font-nunito: "Nunito Sans", sans-serif;

  --gradient: linear-gradient(90deg, #ff323f 0%, #ff37e4 100%);
  --accent: #ff3245;
  --light: #ffffff;
  --light-gray: #e9e9e9;
  --gray: #4e4e4e;
  --line: #aeaeae;
  --dark: #0e0e0e;
  --outline: #b8b8b8;

  --tr: .3s;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-lato);
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
  transition: var(--tr);
}

.main {
  color: var(--light);
  background-image: url(../images/bg-main.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 118px;
}

.container {
  width: 100%;
  max-width: 1630px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 30px);
  max-width: 1600px;
  padding: 15px 16px 15px 25px;
  box-sizing: border-box;
  background-color: var(--light);
  border-radius: 16px;
  margin: 0 auto;
  position: fixed;
  z-index: 9999;
}

.header.scroll {
  border: solid 1px var(--outline);
}

.header-control {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  display: block;
  width: 105px;
  height: 30px;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center left;
}

.nav {
  display: flex;
  gap: 40px;
  font-size: 14px;
  color: #333;
}

.nav-link {
  position: relative;
}

.nav-link:hover {
  color: var(--accent);
}

.nav-link::before {
  content: '';
  width: 20px;
  height: 20px;
  background: linear-gradient(180.00deg, rgba(10, 10, 10, 0.1),rgba(112, 112, 112, 0.1) 100%);
  position: absolute;
  left: 0;
  right: 0;
  top: calc(50% - 10px);
  margin: 0 auto;
  border-radius: 100%;
  opacity: 0;
  transition: var(--tr);
}

.nav-link::after {
  content: '';
  display: block;
  width: 19px;
  height: 1px;
  background: var(--gradient);
  margin-top: 5px;
  opacity: 0;
  transition: var(--tr);
}

.nav-link:hover::before,
.nav-link:hover::after {
  opacity: 1;
}

.btn-accent {
  display: flex;
  padding: 16px 18px;
  font-family: var(--font-nunito);
  font-weight: 900;
  background: var(--gradient);
  border-radius: 10px;
  color: var(--light);
  width: fit-content;
  position: relative;
}

.btn-accent::after {
  content: '';
  width: 100%;
  height: 100%;
  background: var(--accent);
  border-radius: 10px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  opacity: 0;
  transition: var(--tr);
}

.btn-accent:hover::after {
  opacity: 1;
}

.btn-accent span {
  display: flex;
  align-items: center;
  gap: 6px;
  position: relative;
  z-index: 2;
}

.btn-accent span::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-image: url(../images/btn-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.btn-burger {
  background: transparent;
  border: none;
  display: none;
  width: 34px;
  height: 22px;
  background-image: url(../images/burger-menu.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
}

.btn-line {
  background: #0f152c;
  border: 1px solid var(--gradient);
  margin: 0 auto;
  padding: 15px 36px;
}

.btn-line::before {
  content: '';
  display: block;
  background: var(--gradient);
  position: absolute;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  border-radius: 10px;
  z-index: -1;
}

.badge {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 10px 15px;
  border: 1px solid var(--light);
  border-radius: 8px;
  font-family: var(--font-nunito);
  font-size: 12px;
  width: fit-content;
  margin-bottom: 30px;
}

.light .badge {
  border-color: var(--line);
}

.badge::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-image: url(../images/icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.badge-center {
  margin: 0 auto;
}

.title-h1 {
  font-family: var(--font-nunito);
  font-size: 75px;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0;
}

.description {
  color: var(--light-gray);
  line-height: 1.6;
}

.light .description {
  color: var(--gray);
}

.text-small {
  font-family: var(--font-nunito);
  font-size: 12px;
  color: var(--light-gray);
  margin: 0;
}

.title-h2 {
  font-family: var(--font-nunito);
  font-size: 48px;
  font-weight: 700;
  line-height: 1.25;
  color: var(--light);
  margin-top: 0;
  margin-bottom: 10px;
}

.light .title-h2 {
  color: var(--dark);
}

.title-h4 {
  font-family: var(--font-nunito);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.5;
  color: var(--dark);
  margin-top: 29px;
  margin-bottom: 6px;
}

.title-h5,
.copyright {
  font-family: var(--font-nunito);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
  color: var(--dark);
  margin-bottom: 16px;
}

/* Hero */

.section-hero {
  margin-top: 160px;
  margin-bottom: 103px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.description-hero {
 max-width: 556px;
 margin-bottom: 34px;
 margin-top: 0px;
}

.brands {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 26px 55px;
  margin-top: 98px;
}

.brands .text-small {
  flex-basis: 100%;
}

.hero-image {
  padding-top: 26px;
  padding-right: 98px;
}

.image-robot {
  width: 100%;
  max-width: 834px;
}

/* Screen */

.screen {
  text-align: center;
}

.screen .badge {
  color: var(--light-gray);
  border: 1px solid var(--light-gray);
  padding: 10px 12px;
  margin-bottom: 20px;
}

.description-screen {
 max-width: 564px;
 margin: 0 auto 54px auto;
}

.image-screen {
  width: 100%;
  max-width: 1496px;
}

/* Advantages */

.section-advantages {
  padding-top: 120px;
  padding-bottom: 116px;
}

.advantages {
  display: flex;
  gap: 7vw;
}

.advantages-text {
  flex-basis: 607px;
}

.advantages-text .badge {
  padding: 11px 34px 8px 12px;
  gap: 27px;
  margin-top: 11px;
  margin-bottom: 20px;
}

.description-advantages {
  margin-top: 11px;
}

.advantages-item {
  display: flex;
  gap: 45px;
}

.advantages-list-text .description {
  margin-top: 0;
  margin-bottom: 6px;
  max-width: 430px;
}

.advantages-image {
  align-self: center;
  flex-basis: calc(100% - 606px - 7vw);
}

.advantages-image img {
  width: 100%;
}

/* App */

.app {
  display: flex;
  gap: 4.3vw;
  margin-bottom: 20px;
}

.app-image {
  align-self: center;
  flex-basis: calc(100% - 688px - 4.3vw);
  position: relative;
  max-width: 766px;
}

.app-image img {
  width: 100%;
}

.app-gray {
  width: 100%;
  height: 93%;
  background-color: var(--light-gray);
  border-radius: 16px;
  position: absolute;
  z-index: -1;
  top: 3%;
  right: -22px;
}

.app-text {
  flex-basis: 688px;
}

.app-text .badge {
  gap: 9px;
  margin-top: 73px;
  margin-bottom: 20px;
}

.description-app {
  margin-top: 0;
  margin-bottom: 39px;
  max-width: 465px;
}

.app-list {
  max-width: 506px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 21px;
  padding-left: 29px;
  margin-bottom: 55px;
}

.app-item {
  font-family: var(--font-nunito);
  font-size: 20px;
  font-weight: 700;
  color: var(--dark);
}

.app-text .btn-accent {
  padding: 16px 15px;
}

/* Steps */

.steps {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.steps .title-h4 {
  margin-top: 12px;
}

.steps-item {
  border: solid 1px var(--outline);
  border-radius: 16px;
  padding: 63px 45px 34px;
  box-sizing: border-box;
  position: relative;
  transition: var(--tr) color;
}

.steps-item:hover .title-h2, 
.steps-item:hover .title-h4,
.steps-item:hover .description {
  color: var(--light);
}

.steps-item::before {
  content: '';
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0;
  transition: var(--tr);
  border-radius: 14px;
}

.steps-item:hover::before {
  opacity: 1;
}

.steps-item:nth-child(1)::before {
  background-image: url(../images/steps/steps-1.png);
}

.steps-item:nth-child(2)::before {
  background-image: url(../images/steps/steps-2.png);
}

.steps-item:nth-child(3)::before {
  background-image: url(../images/steps/steps-3.png);
}

.steps-item:nth-child(4)::before {
  background-image: url(../images/steps/steps-4.png);
}

.description-steps {
  margin-top: 12px;
  margin-bottom: 41px;
  transition: var(--tr) color;
}

.steps-line {
  width: 100%;
  height: 2px;
  background: var(--outline);
  position: relative;
}

.steps-line::after {
  content: '';
  width: 100%;
  height: 2px;
  background: var(--gradient);
  position: absolute;
  opacity: 0;
  transition: var(--tr);
}

.steps-item:hover .steps-line::after {
  opacity: 1;
}

/* Product */

.section-product {
  margin-top: 120px;
  margin-bottom: 116px;
}

.product {
  text-align: center;
}

.product .badge {
  border-color: var(--gray);
  padding: 10px 21px 10px 13px;
  gap: 16px;
  margin-bottom: 21px;
}

.product .title-h2 {
  padding-left: 13px;
  margin-bottom: 9px;
}

.description-product {
  max-width: 564px;
  margin: 0 auto 54px;
}

.info {
  display: grid;
  grid-template-columns: 49.28% 247px 1fr;
  grid-template-rows: 369px auto;
  gap: 24px;
}

.info-item {
  background-color: #f2f2f2;
  border-radius: 16px;
  box-sizing: border-box;
  overflow: hidden;
}

.info-item:not(:nth-child(1)) {
  border: solid 1px var(--outline);
}

.info-item:nth-child(1) {
  grid-row: 1 / 3;
  position: relative;
}

.info-item:nth-child(1) img:first-child {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-item:nth-child(1) img:last-child {
  position: absolute;
  width: 62.9%;
  left: 18.5%;
  bottom: 5.4%;
}

.info-item:nth-child(2) {
  grid-column: 2 / 4;
  background-image: url(../images/info/screen-code.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;
}

.info-item:nth-child(3) {
  padding: 18px 0;
}

/* Languages */

.languages {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.languages-item {
  display: flex;
  gap: 9px;
  background-color: var(--light);
  border-radius: 10px;
  margin: 0 39px;
  padding-left: 20px;
}

.text-list {
  font-size: 14px;
  margin: 17px 0;
}

.info-item:nth-child(4) {
}

/* FAQ */

.faq {
  padding: 18px 0;
}

.faq .title-h5 {
  margin-bottom: 26px;
}

.faq-list {
  text-align: left;
}

.faq-details {
  background-color: var(--light);
  border-radius: 10px;
  margin: 0 39px 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.faq-details > .faq-summary:first-of-type {
  list-style: none;
}

.faq-summary {
  position: relative;
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.faq-summary::before {
  content: "";
  display: block;
  border-radius: 15px;
  width: 20px;
  height: 20px;
  background: var(--gradient);
  position: absolute;
  top: calc(50% - 11px);
  right: 20px;
}


.faq-summary::after {
  content: "";
  border-radius: 15px;
  width: 20px;
  height: 20px;
  background-image: url(../images/plus.svg);
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: center center;
  position: absolute;
  top: calc(50% - 11px);
  right: 20px;
}

.faq-details[open] > .faq-summary::before {
  background: var(--line);
}

.faq-details[open] > .faq-summary::after {
  background-image: url(../images/minus.svg);
}

.description-summary {
  padding: 10px;
  margin: 0;
}

/* Section Free */

.section-free {
  color: var(--light);
  background-image: url(../images/bg-free.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.free {
  display: flex;
  justify-content: end;
  text-align: center;
}

.free-text {
  padding-right: 114px;
  padding-top: 125px;
  padding-bottom: 135px;
  position: relative;
  z-index: 0;
}

.free-text .title-h2 {
  max-width: 420px;
  margin: 0 auto;
  margin-bottom: 11px;
}

.free-text .description {
  max-width: 350px;
  margin: 0 auto;
  margin-bottom: 35px;
}

/* Footer */

.footer {
  padding-top: 120px;
  padding-bottom: 13px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #a7a7a7;
  padding-bottom: 55px;
}

.footer-top .logo {
  width: 272px;
  height: 74px;
  background-image: url(../images/logo-footer.svg);
}

.social-list {
  display: flex;
  gap: 14px;
  padding-top: 15px;
}

.social-link {
  display: block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.tg {
  background-image: url(../images/social/telegram.svg);
}

.tg:hover {
  background-image: url(../images/social/telegram-hover.svg);
}

.vk {
  background-image: url(../images/social/vk.svg);
}

.vk:hover {
  background-image: url(../images/social/vk-hover.svg);
}

.yt {
  background-image: url(../images/social/youtube.svg);
}

.yt:hover {
  background-image: url(../images/social/youtube-hover.svg);
}

.footer-bottom {
  padding-top: 3px;
}

.copyright {
  text-align: center;
}

.modal {
  background-color: #0f152c;
  border-radius: 16px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 97%;
  z-index: 9999;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  margin: 30px auto 0;
  opacity: 0;
  visibility: hidden;
  transition: var(--tr);
}

.modal.active,
.btn-up.visible {
  opacity: 1;
  visibility: visible;
}

.modal .nav {
  display: flex;
  flex-direction: column;
  color: var(--light);
  text-align: center;
  padding: 43px 0;
  gap: 13px;
}

.modal .nav-link:hover {
  color: var(--light);
}

.modal .nav-link::before,
.modal .nav-link::after {
  content: none;
}

.btn-close {
  display: block;
  width: 22px;
  height: 22px;
  background-image: url(../images/close.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 20px;
}

.btn-up {
  display: block;
  width: 35px;
  height: 57px;
  background-image: url(../images/btn-up.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  visibility: hidden;
  transition: var(--tr);
}

.btn-up.hidden {
  opacity: 0;
  visibility: hidden;
}

@media (max-width: 1600px) {
  .main {
    padding-top: 20px;
    padding-bottom: 96px;
  }

  .container {
    max-width: 1170px;
  }

  .header {
    max-width: calc(1170px - 30px);
    padding-right: 26px;
    padding-left: 24px;
  }

  .nav {
    gap: 20px;
  }

  .title-h1 {
    font-size: 62px;
  }

  .section-hero {
    margin-top: 148px;
    margin-bottom: 96px;
  }

  .hero {
    gap: 3vw;
  }

  .hero-text {
    flex-basis: 609px;
    padding-top: 38px;
  }


  .description-hero {
    margin-top: 27px;
    margin-bottom: 34px;
  }

  .brands {
    justify-content: center;
     gap: 25px 36px;
     margin-top: 99px;
  }

  .hero-image {
    flex-basis: calc(100% - 609px - 3vw);
    padding-right: 0;
    padding-top: 23px;
  }

  .screen .badge {
  }

  .description-screen {
    margin-bottom: 46px;
  }

  .image-screen {
    max-width: 1010px;
  }

  .section-advantages {
    padding-top: 89px;
    padding-bottom: 88px;
  }

  .advantages {
    gap: 4.4vw;
  }

  .advantages-text {
    flex-basis: 512px;
  }

  .advantages-text .badge {
    padding: 10px 19px 10px 10px;
    gap: 11px;
  }

  .advantages-item {
    gap: 30px;
}

  .advantages-image {
    flex-basis: calc(100% - 512px - 4.4vw);
    margin-top: 33px;
  }

  .app {
    gap: 4.9vw;
    margin-bottom: 23px;
  }

  .app-image {
    flex-basis: calc(100% - 601px - 4.9vw);
    align-self: start;
  }
  
  .app-gray {
    right: -13px;
  }

  .app-text {
    flex-basis: 601px;
  }

  .app-text .badge {
    margin-top: 0;
  }

  .steps {
    grid-template-columns: repeat(2, 1fr);
  }

  .steps-item::before {
    background-size: cover;
  }

  .steps-item {
    padding: 27px 25px 36px 29px;
  }

  .steps .title-h4 {
    margin-top: 14px;
  }

  .description-steps {
    margin-top: 19px;
    margin-bottom: 35px;
  }

  .section-product {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .product .title-h2 {
    padding-left: 25px;
  }

  .info {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 250px auto;
  }

  .info-item:nth-child(1) img:last-child {
    width: 88.8%;
    left: 5.4%;
    bottom: 3%;
}

  .info-item:nth-child(2) {
    grid-column: 2 / 3;
  }

  .info-item:nth-child(3) {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    padding: 19px 40px;
  }

  .support {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .support .title-h5 {
    flex-basis: 196px;
    text-align: center;
    margin: 0;
  }

  .languages {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
  }

  .languages-item {
    gap: 10px;
    margin: 0;
    /* flex-grow: 1; */
    flex-basis: 196px;
  }
  
  .faq {
    padding-bottom: 42px;
  }

  .section-free {
    background-image: url(../images/bg-free-1140.png);
  }

  .free-text {
    padding-right: 4px;
  }

  .footer {
    padding-top: 99px;
    padding-bottom: 10px;
  }

  .footer-top .logo {
    width: 269px;
  }
}

@media (max-width: 1000px) {
  .main {
    padding-top: 30px;
  }

  .btn-burger {
    display: block;
  }

  .nav,
  .hero-image,
  .btn-up {
    display: none;
  }

  .hero {
    justify-content: center;
    text-align: center;
  }

  .hero-text {
    padding-top: 32px;
  }

  .badge,
  .btn-accent,
  .description-hero {
    margin: 0 auto;
  }

  .hero-text .badge {
    margin-bottom: 31px;
  }

  .description-hero {
    margin-top: 32px;
    margin-bottom: 30px;
  }

  .brands {
    justify-content: space-around;
    margin-top: 78px;
    gap: 25px 0;
  }

  .description-screen {
    margin-bottom: 44px;
    padding-right: 0;
  }

  .section-advantages {
    padding-bottom: 93px;
  }

  .advantages {
    flex-direction: column;
    gap: 6.7vw;
  }

  .advantages-text,
  .app-text {
    flex-basis: 100%;
  }

  .light .title-h2 { 
    text-align: center;
  }

  .description-advantages {
    text-align: center;
    max-width: 488px;
    margin: 0 auto 16px;
  }

  .advantages-item {
    justify-content: center;
  }

  .advantages-image {
    flex-basis: 100%;
    width: 100%;
    margin-top: 0;
  }

  .app-image {
    flex-basis: 100%;
    width: 95%;
    align-self: center;
  }

  .app {
    flex-direction: column-reverse;
  }

  .app-text .title-h2 {
    max-width: 601px;
    margin-left: auto;
    margin-right: auto;
  }

  .app-text .badge {
    gap: 12px;
  }

  .description-app {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 38px;
  }

  .app-list {
    padding-left: 72px;
    margin-left: auto;
    margin-right: auto;
  }

  .steps-item {
    padding: 27px 30px 36px 30px;
  }

  .description-steps {
    margin-bottom: 10px;
  }

  .section-product {
    margin-bottom: 99px;
  }

  .product .badge {
    margin-bottom: 19px;
  }

  .product .title-h2 {
    max-width: 432px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    margin-bottom: 10px;
  }

  .description-product {
    margin-bottom: 49px;
  }

  .info {
    grid-template-columns: 1fr;
    grid-template-rows: 100vw 330px auto auto;
  }
  
  .info-item:nth-child(1) {
    grid-row: 1 / 2;
  }

  .info-item:nth-child(1) img:last-child {
    width: 67.1%;
    left: 16.5%;
    bottom: 6.4%; 
  }

  .info-item:nth-child(2) {
    grid-column: 1 / 2;
  }

  .info-item:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    padding-left: 29px;
    padding-bottom: 18px;
  }

  .info-item:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 3 / 4 ;
  }

  .faq {
    padding-bottom: 45px;
  }

  .faq .title-h5 {
    margin-top: 30px;
  }

  .support {
    align-items: start;
    gap: 7.5vw;
  }

  .support .title-h5 {
    margin-top: 11px;
    margin-left: 6px;
  }

  .languages {
    flex-wrap: wrap;
    gap: 10px;
  }

  .languages-item {
    flex-basis: 24vw;
  }

  .section-free {
    background: #0f152c;
  }

  .free {
    justify-content: center;
  }

  .free-text {
    padding-top: 69px;
    padding-right: 0;
    padding-bottom: 81px;
  }

  .free-text .title-h2 {
    margin-bottom: 14px;
  }

  .free-text .description {
    margin-bottom: 32px;
  }

  .footer {
    padding-top: 39px;
    padding-bottom: 0;
  }

  .footer-top {
    padding-bottom: 29px;
  }

  .footer-top .logo {
    height: 53px;
  }

  .social-list {
    padding-top: 0;
  }

  .footer-bottom {
    padding-top: 3px;
  }
}

@media (max-width: 705px) {
  .info-item:nth-child(3) {
    padding-left: 17px;
    padding-bottom: 19px;
    padding-right: 21px;
  }

  .support {
    flex-direction: column;
    gap: 8.2vw;
  }

  .support .title-h5 {
    flex-basis: 0;
    margin: 6px auto 0;
  }

  .languages {
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
    width: 100%;
  }

  .languages-item {
    flex-basis: auto;
    padding-left: 5.6vw;
  }
}

@media (max-width: 650px) {
  .title-h1 {
    font-size: clamp(33px, 9vw, 62px);
  }

  .title-h2 {
    font-size: 26px;
  }

  .title-h3 {
    font-size: 18px;
  }

  .title-h4 {
    font-size: 18px;
  }

  .btn-accent,
  .description,
  .title-h5,
  .app-item,
  .copyright {
    font-size: 14px;
  }

  .description-hero {
    font-size: 16px;
  }

  .brands img {
    width: 22%;
  }

  .app-list {
    max-width: 340px;
    padding-left: 27px;
    gap: 15px;
  }

  .steps {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .steps-line {
    background: var(--gradient);
  }

  .info {
    grid-template-rows: 100vw 41vw auto auto;
  }

  .faq-summary {
    align-items: center;
  }

  .faq-summary img {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 400px) {
  .main {
    padding-top: 21px;
    padding-bottom: 76px;
  }

  .header {
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 16px;
  }

  .logo {
    height: 20px;
  }

  .header-control {
    gap: 15px;
  }

  .header .btn-accent {
    padding-top: 13px;
    padding-right: 16px;
    padding-bottom: 11px;
    padding-left: 14px;
  }

  .section-hero {
    margin-top: 108px;
    margin-bottom: 81px;
  }

  .hero-text .badge {
    margin-bottom: 30px;
  }

   .description-hero {
    margin-top: 22px;
    margin-bottom: 33px;
    max-width: 310px;
  }

  .hero-text .btn-accent {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 17px;
    padding-bottom: 17px;
  }

  .brands {
    justify-content: space-between;
    margin-top: 48px;
  }

  .screen .badge {
    margin-bottom: 18px;
  }

  .description-screen {
    margin-bottom: 27px;
  }

  .section-advantages {
    padding-top: 69px;
    padding-bottom: 75px;
  }

  .advantages-text .badge {
    margin-bottom: 25px;
  }

  .light .title-h2 {
    margin-bottom: 5px;
  }

  .description-advantages {
    margin-bottom: 40px;
  }

  .advantages-item {
    gap: 20px;
    align-items: start;
  }

  .advantages-item:not(:last-child) {
    margin-bottom: 22px;
  }

  .advantages-item img {
    max-width: 30px;
    margin-top: 5px;
  }

  .title-h4 {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .advantages {
    gap: 8vw;
  }

  .advantages-image img {
    border-radius: 16px;
  }

  .app-text .badge {
    margin-bottom: 26px;
  }

  .description-app {
    margin-bottom: 36px;
  }

  .app-list {
    padding-left: 0;
    gap: 0;
    margin-bottom: 16px;
  }

  .app-item {
    margin-bottom: 9px;
    margin-left: 22px;
  }

  .app-item:nth-child(even) {
    margin-left: 41px;

  }

  .app-text .btn-accent {
    padding: 17px 23px;
  }

  .steps {
    gap: 7px;
  }

  .steps-item {
    padding: 32px 30px 36px 29px;
  }

  .steps .title-h4 {
    margin-top: 6px;
    font-size: 16px;
  }

  .description-steps {
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .section-product {
    margin-top: 81px;
    margin-bottom: 80px;
  }

  .product .badge {
    margin-bottom: 24px;
  }

  .product .title-h2 {
    max-width: 250px;
    margin-bottom: 6px;
  }

  .description-product {
    margin-bottom: 30px;
  }

  .info {
    gap: 10px;
  }

  .info-item:nth-child(1) {
    border-radius: 7px;
  }

  .faq {
    padding-bottom: 9px;
  }

  .faq .title-h5 {
    margin-top: 7px;
    margin-bottom: 15px;
  }

  .faq-details {
    margin-top: 0;
    margin-right: 21px;
    margin-bottom: 20px;
    margin-left: 17px;
    padding-left: 11px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .faq-summary::before,
  .faq-summary::after {
    top: calc(50% - 10px);
    right: 10px;
  }

  .free {
    display: block;
  }

  .free-text {
    padding-top: 34px;
    padding-bottom: 41px;
  }

  .free-text .title-h2 {
    max-width: 230px;
    margin-bottom: 22px;
  }

  .free-text .description {
    max-width: 280px;
    margin-bottom: 37px;
  }

  .btn-line {
    width: auto;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .btn-accent span {
    margin: 0 auto;
  }

  .footer {
    padding-top: 35px;
  }

  .footer-top {
    padding-bottom: 22px;
  }

  .footer-top .logo {
    height: 41px;
  }

  .footer-bottom {
    margin-top: 0;
  }

  .copyright {
    margin-top: 6px;
  }

  .modal {
    margin-top: 20px;
  }
}