@font-face {
    font-family: "Lato";
    src: local('Lato Regular'), local('Lato-Regular'), url('../fonts/lato/latoregular.woff2') format('woff2'), url('../fonts/lato/latoregular.woff') format('woff'), url('../fonts/lato/latoregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

:root {
  --font-lato: "Lato", sans-serif;
  --font-nunito: "Nunito Sans", sans-serif;

  --gradient: linear-gradient(90deg, #ff323f 0%, #ff37e4 100%);
  --accent: #ff3245;
  --light: #ffffff;
  --light-gray: #e9e9e9;
  --gray: #4e4e4e;
  --line: #aeaeae;
  --dark: #0e0e0e;
  --outline: #b8b8b8;

  --tr: .3s;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-lato);
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
  transition: var(--tr);
}

.main {
  color: var(--light);
  background-image: url(../images/bg-main.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 117px;
}

.container {
  width: 100%;
  max-width: 1630px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 30px);
  max-width: 1600px;
  padding: 15px 16px 15px 25px;
  box-sizing: border-box;
  background-color: var(--light);
  border-radius: 16px;
  margin: 0 auto;
  position: fixed;
  z-index: 9999;
}

.header.scroll {
  border: solid 1px var(--outline);
}

.logo {
  display: block;
  width: 105px;
  height: 30px;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.nav {
  display: flex;
  gap: 40px;
  font-size: 14px;
  color: #333;
}

.nav-link {
  position: relative;
}

.nav-link:hover {
  color: var(--accent);
}

.nav-link::before {
  content: '';
  width: 20px;
  height: 20px;
  background: linear-gradient(180.00deg, rgba(10, 10, 10, 0.1),rgba(112, 112, 112, 0.1) 100%);
  position: absolute;
  left: 0;
  right: 0;
  top: calc(50% - 10px);
  margin: 0 auto;
  border-radius: 100%;
  opacity: 0;
  transition: var(--tr);
}

.nav-link::after {
  content: '';
  display: block;
  width: 19px;
  height: 1px;
  background: var(--gradient);
  margin-top: 5px;
  opacity: 0;
  transition: var(--tr);
}

.nav-link:hover::before,
.nav-link:hover::after {
  opacity: 1;
}

.btn-accent {
  display: flex;
  padding: 16px 18px;
  font-family: var(--font-nunito);
  font-weight: 900;
  background: var(--gradient);
  border-radius: 10px;
  color: var(--light);
  width: fit-content;
  position: relative;
}

.btn-accent::after {
  content: '';
  width: 100%;
  height: 100%;
  background: var(--accent);
  border-radius: 10px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  opacity: 0;
  transition: var(--tr);
}

.btn-accent:hover::after {
  opacity: 1;
}

.btn-accent span {
  display: flex;
  align-items: center;
  gap: 6px;
  position: relative;
  z-index: 2;
}

.btn-accent span::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-image: url(../images/btn-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.badge {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 10px 15px;
  border: 1px solid var(--light);
  border-radius: 8px;
  font-family: var(--font-nunito);
  font-size: 12px;
  width: fit-content;
  margin-bottom: 28px;
}

.light .badge {
  border-color: var(--line);
}

.badge::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-image: url(../images/icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.badge-center {
  margin: 0 auto;
}

.title-h1 {
  font-family: var(--font-nunito);
  font-size: 75px;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0;
}

.description {
  color: var(--light-gray);
  line-height: 1.6;
}

.light .description {
  color: var(--gray);
}

.text-small {
  font-family: var(--font-nunito);
  font-size: 12px;
  color: var(--light-gray);
  margin: 0;
}

.title-h2 {
  font-family: var(--font-nunito);
  font-size: 48px;
  font-weight: 700;
  line-height: 1.25;
  color: var(--light);
  margin-top: 0;
  margin-bottom: 10px;
}

.light .title-h2 {
  color: var(--dark);
}

.title-h4 {
  font-family: var(--font-nunito);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.5;
  color: var(--dark);
  margin-top: 29px;
  margin-bottom: 6px;
}

.title-h5 {
  font-family: var(--font-nunito);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
  color: var(--dark);
  margin-top: 51px;
  margin-bottom: 16px;
}

/* Hero */

.section-hero {
  margin-top: 160px;
  margin-bottom: 103px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.description-hero {
 max-width: 556px;
 margin-bottom: 34px;
 margin-top: 0px;
}

.brands {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 26px 55px;
  margin-top: 98px;
}

.brands .text-small {
  flex-basis: 100%;
}

.hero-image {
  padding-top: 26px;
}

/* Screen */

.screen {
  text-align: center;
}

.screen .badge {
  color: var(--light-gray);
  border: 1px solid var(--light-gray);
  padding: 10px 12px;
  margin-bottom: 20px;
}

.description-screen {
 max-width: 564px;
 margin: 0 auto 54px auto;
}

.image-screen {
  width: 100%;
  max-width: 1496px;
}

/* Advantages */

.section-advantages {
  padding-top: 120px;
  padding-bottom: 117px;
}

.advantages {
  display: flex;
  gap: 7vw;
}

.advantages-text {
  flex-basis: 607px;
}

.advantages-text .badge {
  padding: 11px 34px 8px 12px;
  gap: 27px;
  margin-top: 11px;
  margin-bottom: 20px;
}

.description-advantages {
  margin-top: 11px;
}

.advantages-item {
  display: flex;
  gap: 45px;
}

.advantages-list-text .description {
  margin-top: 0;
  margin-bottom: 6px;
  max-width: 430px;
}

.advantages-image {
  align-self: center;
  flex-basis: calc(100% - 607px - 7vw);
}

.advantages-image img {
  width: 100%;
}

/* App */

.app {
  display: flex;
  gap: 4.3vw;
  margin-bottom: 20px;
}

.app-image {
  align-self: center;
  flex-basis: calc(100% - 688px - 4.3vw);
  position: relative;
  max-width: 766px;
}

.app-image img {
  width: 100%;
}

.app-gray {
  width: 100%;
  height: 93%;
  background-color: var(--light-gray);
  border-radius: 16px;
  position: absolute;
  z-index: -1;
  top: 3%;
  right: -22px;
}

.app-text {
  flex-basis: 688px;
}

.app-text .badge {
  gap: 9px;
  margin-top: 73px;
  margin-bottom: 20px;
}

.description-app {
  margin-top: 0;
  margin-bottom: 39px;
  max-width: 465px;
}

.app-list {
  max-width: 506px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 21px;
  padding-left: 29px;
  margin-bottom: 55px;
}

.app-item {
  font-family: var(--font-nunito);
  font-size: 20px;
  font-weight: 700;
  color: var(--dark);
}

.app-text .btn-accent {
  padding: 16px 15px;
}

/* Steps */

.steps {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.steps .title-h4 {
  margin-top: 12px;
}

.steps-item {
  border: solid 1px var(--outline);
  border-radius: 16px;
  padding: 63px 45px 34px;
  box-sizing: border-box;
  position: relative;
  transition: var(--tr) color;
}

.steps-item:hover .title-h2, 
.steps-item:hover .title-h4,
.steps-item:hover .description {
  color: var(--light);
}

.steps-item::before {
  content: '';
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0;
  transition: var(--tr);
}

.steps-item:hover::before {
  opacity: 1;
}

.steps-item:nth-child(1)::before {
  background-image: url(../images/steps/steps-1.png);
}

.steps-item:nth-child(2)::before {
  background-image: url(../images/steps/steps-2.png);
}

.steps-item:nth-child(3)::before {
  background-image: url(../images/steps/steps-3.png);
}

.steps-item:nth-child(4)::before {
  background-image: url(../images/steps/steps-4.png);
}

.description-steps {
  margin-top: 12px;
  margin-bottom: 41px;
  transition: var(--tr) color;
}

.steps-line {
  width: 100%;
  height: 2px;
  background: var(--outline);
  position: relative;
}

.steps-line::after {
  content: '';
  width: 100%;
  height: 2px;
  background: var(--gradient);
  position: absolute;
  opacity: 0;
  transition: var(--tr);
}

.steps-item:hover .steps-line::after {
  opacity: 1;
}

/* Product */

.section-product {
  margin-top: 120px;
  margin-bottom: 120px;
}

.product {
  text-align: center;
}

.product .badge {
  border-color: var(--gray);
  padding: 10px 21px 10px 13px;
  gap: 16px;
  margin-bottom: 21px;
}

.product .title-h2 {
  padding-left: 13px;
  margin-bottom: 9px;
}

.description-product {
  max-width: 564px;
  margin: 0 auto 54px;
}

.info {
  display: grid;
  grid-template-columns: 49.28% 247px 1fr;
  grid-template-rows: 369px auto;
  gap: 24px;
}

.info-item {
  background-color: #f2f2f2;
  border-radius: 16px;
  box-sizing: border-box;
}

.info-item:not(:nth-child(1)) {
  border: solid 1px var(--outline);
}

.info-item:nth-child(1) {
  grid-row: 1 / 3;
  position: relative;
}

.info-item:nth-child(1) img:first-child {
  width: 100%;
  height: 100%;
}

.info-item:nth-child(1) img:last-child {
  position: absolute;
  width: 62.9%;
  left: 18.5%;
  bottom: 5.4%;
}

.info-item:nth-child(2) {
  grid-column: 2 / 4;
  border: none;
}

.info-item:nth-child(2) img {
  width: 100%;
  height: 100%;
}

.info-item:nth-child(3) {
}

/* Languages */

.languages {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.languages-item {
  display: flex;
  gap: 9px;
  background-color: var(--light);
  border-radius: 10px;
  margin: 0 39px;
  padding-left: 20px;
}

.text-list {
  font-size: 14px;
  margin: 17px 0;
}

.info-item:nth-child(4) {
}

/* FAQ */

.faq .title-h5 {
  margin-bottom: 26px;
}

.faq-list {
  text-align: left;
}

.faq-details {
  background-color: var(--light);
  border-radius: 10px;
  margin: 0 39px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.faq-details:not(:last-child) {
  margin-bottom: 20px;
}

.faq-details > .faq-summary:first-of-type {
   list-style: none;
}

.faq-summary {
  position: relative;
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.faq-summary:after {
   content: "+";
   background: var(--gradient);
   border-radius: 15px;
   width: 20px;
   height: 20px;
   position: absolute;
   top: calc(50% - 10px);
   right: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: var(--light);
}

.faq-details[open] > .faq-summary:after {
   content: "-";
}

.description-summary {
  padding: 10px;
  margin: 0;
  transition: var(--tr); /* пока не увидела плавность раскрытия этого сообщения */
}